body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
}

.content-container {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 3.9vw;
  box-sizing: content-box;
}
